<form [formGroup]="customerForm">
  <div class="grid gap-3">
    <div class="text-1xl font-extrabold uppercase">Informazioni generali</div>
    <div class="flex flex-row gap-2">
      <div class="flex flex-col basis-1/2">
        <app-input [formControl]="f.name" formControlName="name" label="nome" id="customer-name" type="text" />
      </div>

      <div class="flex flex-col basis-1/2">
        <app-input [formControl]="f.fiscalCode" [customValidator]="true" formControlName="fiscalCode" label="codice fiscale" id="fiscalCode" type="text" />
        <div class="text-sm text-red-700" *ngIf="customerForm.get('fiscalCode')?.invalid">
          Codice fiscale non valido
        </div>
      </div>
    </div>

    <div class="flex flex-row gap-2">
      <div class="flex flex-col basis-1/2">
        <div class="flex gap-2 items-end">
          <div class="grow">
            <app-input [formControl]="f.email" formControlName="email" label="email" id="customer-email" type="email" />
          </div>
          <a [href]="'mailto:' + f.email.getRawValue()" *ngIf="viewOnly()" class="flex h-12 border-input items-center px-3 py-0.5 rounded-md shadow-sm accent text-sm font-medium">
            <mat-icon class="icon-size material-symbols-rounded">mail</mat-icon>
          </a>
        </div>
      </div>

      <div class="flex flex-col basis-1/2">
        <div class="flex gap-2 items-end">
          <div class="grow">
            <app-input [formControl]="f.phone" formControlName="phone" label="telefono" id="customer-phone" type="text" />
          </div>
          <a [href]="'https://wa.me/' + f.phone.getRawValue()" target="_blank" *ngIf="viewOnly()" class="flex h-12 border-input items-center px-3 py-0.5 rounded-md shadow-sm accent text-sm font-medium">
            <mat-icon class="icon-size material-symbols-rounded">phone</mat-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="text-1xl font-extrabold uppercase">Informazioni finanziarie</div>

    <div class="flex flex-row gap-2">
      <div class="flex flex-col basis-1/2">
        <app-input [formControl]="f.pec" formControlName="pec" label="pec" id="pec" type="email" />
      </div>
      <div class="flex flex-col basis-1/2">
        <app-input [formControl]="f.vatNumber" formControlName="vatNumber" label="partita iva" id="vatNumber" type="text" />
      </div>
    </div>

    <div class="flex flex-row gap-2">

      <div class="basis-1/2">
        <app-input [formControl]="f.sdiNumber" formControlName="sdiNumber" label="SDI" id="sdi" type="text" />
      </div>

      <div class="flex flex-col basis-1/2">
        <label class="text-md justify-left block px-3 py-0 font-medium">tipologia cliente</label>
        <mat-select
          class="focus:outline-none p-3 border-input rounded-md w-full bg-foreground"
          [formControl]="f.type"
          [ngClass]="{'viewOnly' : viewOnly()}"
        >
          <mat-option class="p-3 bg-white !italic">Nessun valore</mat-option>
          <mat-option class="p-3 bg-white" *ngFor="let type of customerTypeArray" [value]="type.value">{{type.name}}</mat-option>
        </mat-select>
      </div>

    </div>

    <div class="flex flex-row gap-2">
      <div class="flex flex-col basis-full">
        <label for="customer-note" class="text-md justify-left block px-3 py-0 font-medium"
               [ngClass]="f.note.invalid && f.note.dirty ? ('text-red-800') : ('text-gray-900')">
          note
        </label>
        <textarea class="focus:outline-none p-3 rounded-md w-full border-input"
                  [ngClass]="{'border-input-error' : f.note.invalid && f.note.dirty, 'viewOnly' : viewOnly()}"
                  id="customer-note"
                  formControlName="note"></textarea>

        <div *ngIf="f.note.invalid && f.note.dirty" class="px-3 py-1 text-xs text-red-800">
          Il campo 'note' non deve superare i {{maxNoteCharLength}} caratteri
        </div>
      </div>
    </div>

    <app-customer-addresses-section
      [viewOnly]="viewOnly()"
      [addressesArray]="addresses"
      (onAddressAdd)="onAddressAdd($event)"
      (onAddressChangeData)="onAddressChangeData($event)"
      (onRemoveAddress)="onRemoveAddress($event)"
    />
  </div>
</form>
